{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Bienvenido a App IoT</h1>

    </div>
</div>
<br/>
<div class="jumbotron text-center">
  <h1> Placeholder</h1>
    <img style="border-radius:10px; margin-bottom:20px" src="static/img/arduino.jpg" width="30%"></img>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloribus excepturi explicabo laboriosam minima nulla quod recusandae repellendus tempore totam. Aperiam dolore fugiat itaque mollitia neque nihil perferendis quis vitae!</p>
</div>
<br/>
<br/>

{% endblock content %}
