{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Registrando un nuevo dispositivo</h1>
    </div>
    <div class="col-lg-offset-2 col-lg-8 text-center">
    <div>
        <a class="btn btn-success btn-lg" id="comenzar">Comenzar</a>
    </div>
        <div>
            <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        </div>
</div>
</div>
<br/>

{% endblock content %}

{% block javascript%}
    $("#comenzar").on("click",function(){

		        $.ajax({
		            url: '/registrarDispositivo',
		            type: 'post',
		            contentType: false,
		            processData: false,
		            success: function(response){
		                if(response != 0){
		                	var obj = JSON.parse(response)
                            console.log(obj)
		                }else{
		                	alert("Error al cargar la imagen");
		                }
		            },
		        });
	    	})
{% endblock javascript%}